.feedback-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;

}

label {
    color: #2E2F42;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    color: #2E2F42;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;
    margin-bottom: 8px;
    transition: all 350ms;
}

input:hover {
    border: 1px solid #000;
}

input:active {
    border: 1px solid #808080;
}

textarea {
    color: #2E2F42;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;
    max-height: 80px;
    transition: all 350ms;
}

textarea:hover {
    border: 1px solid #000;
}

textarea:active {
    border: 1px solid #808080;
}

button[type="submit"] {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    background: #4E75FF;
    color: #FFF;
    transition: all 350ms;
}

button[type="submit"]:hover {
    background: #6C8CFF;
}