/*===================*/
.gallery {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    flex-basis: calc((100% - 48px)/ 3);
    transition: all 350ms;
}

.gallery-item:hover {
    transform: scale(1.04);
}

.gallery-link {}

.gallery-image {}

/*===================*/
.sl-wrapper {
    background: rgba(46, 47, 66, 0.80);
}

.sl-wrapper .sl-close {
    margin-top: -16px !important;
    margin-right: -16px !important;
    width: 32px !important;
    height: 32px !important;
    color: #FFF !important;
}

.sl-wrapper .sl-counter {
    font-weight: 400 !important;
    line-height: 1.5 !important;
    letter-spacing: 0.04em !important;
    color: #fff !important;
}

.sl-wrapper .sl-navigation button {
    color: #fff !important;
}

.sl-wrapper .sl-image .sl-caption {
    display: none !important;
}