@import "reset.css";

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/*@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
*/
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*=========================================*/
.in-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.list-item {
  margin: 30px;
}

.list-link {
  padding: 30px 50px;
  background-color: #2376c4;
  border-radius: 8px;
  font-size: 24px;
  color: rgb(241, 241, 241);
  font-weight: 700;
  letter-spacing: 0.3em;
  transition: all 450ms;
}

.list-link:hover {
  background-color: #165da0;
  color: rgb(192, 192, 192);
  border-radius: 5px;
}

.simple-lightbox {
  background: rgba(46, 47, 66, 0.80);
}